.header {
  background-color: $color-grey-dark-1;
  grid-column: full-start / col-end 6;
  background-image: linear-gradient(rgba($color-secondary, 0.93), rgba($color-secondary, 0.93)), url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;

  overflow: hidden;

  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-template-columns: minmax(min-content, max-content);

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 /-1;
  }
  @media only screen and (max-width: $bp-small) {
    padding: 5rem;
  }

  &__logo {
    height: 3rem;
    justify-self: center;
  }

  &__btn {
    align-self: start; //it aligns to the top of the cell
    justify-self: start; //aligns it to the left of the cell
  }
  &__seenon-text {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr max-content 1fr;

    align-items: center;
    grid-column-gap: 1.5rem;
    font-size: 1.6rem;
    color: $color-grey-light-2;

    &::before,
    &::after {
      content: "";
      background: currentColor;
      height: 1px;
      display: block;
    }
  }

  &__seenon-logos {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem;
    justify-items: center;
    align-items: center;
    img {
      max-height: 2.5rem;
      max-width: 100%;
      filter: brightness(70%);
    }
  }
}
